@import 'variables';
@import '../../../node_modules/bootstrap-less/bootstrap/bootstrap';

body {
    border: solid 20px @borderColor;
    padding: 50px;
    font-family: sans-serif;
    background: @backgroundColor;
}